<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cap"

        tools:targetApi="31">

        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".photostylepage1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/Theme.Capstone1.Fullscreen" />

        <activity
            android:name=".PhotoStyleMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GuideCamera"
            android:exported="true">

        </activity>
        <activity
            android:name=".Tutorial"
            android:exported="true">

        </activity>
        <activity
            android:name=".DronesPage"
            android:exported="true">

        </activity>
        <activity android:name=".PortfolioActivity"
            android:exported="true"/>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:directBootAware="true">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
        <activity android:name=".FullImageActivity"/>
        <activity android:name=".FullScreenImageActivity"/>
        <activity android:name=".UserDetailsActivity"/>
        <activity android:name=".EditProfileActivity"
            android:exported="true"/>

        <activity android:name=".FeedActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>